body{
    font-family: "Poppins", sans-serif;
    max-width: 100%;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}

h1 {
    text-decoration: underline;
    text-decoration-color: rgb(150, 55, 228);
}

h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.contato{
    display: flex;
    flex-direction: column;
    align-items:center;
    width:50%;
}

.contato label{
    width: 63%;
    display: flex;
    align-items: flex-start;
    margin-top: 25px;
}

.contato input,textarea{
    display: flex;
    padding: 10px;
    border-radius:5px;
    width: 60%;
}


button {
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    font-size: 14px;
    margin: 7px;
    margin-top: 40px;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    width: 140px
}

button:hover {
    background-color:rgb(215, 191, 238);
    color: white;
    transition: 0.2s;
}

.relatorio {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 30%;
    height: 100%;
    padding: 15px;
    border-radius: 10px;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    background-color:rgb(152, 255, 255)
}

.relatorio p{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
