body {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
    margin-top: 8%;
    padding-left: 35%;
    padding-right: 35%;
}


.img {
    size: 50%;
}

.opcoes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
button {
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    margin: 10px;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    width: 140px
}

button:hover {
    background-color:rgb(215, 191, 238);
    color: white;
    transition: 0.2s;
}

ul {
    width: 200px;
}

